.vscode
.env
.pytest_cache
**__pycache__**
/tests/artifacts/**
.devcontainer
/docs/source/output/**
/docs/build
/dist
/build
/documentation
*.log
.coverage
/tests/test_data/cases/case_02_compound/output/**
/tests/test_data/compare1d2d/cases/case1/output/**
/tests/test_data/compare1d2d/rijn-j22_6-v1a2/output/**
testIni.ini
*_cache.json
# pixi environments
.pixi/*
!.pixi/config.toml
