
/* Sidebar header (and topbar for mobile) 
.wy-side-nav-search, .wy-nav-top {
  background: #080c80;
}

.wy-nav-side {
  background: #2F2F2F;
}

*/

.dl-parameters dt {
  border-top: 2px solid #080C80;
  background-color: rgb(185, 192, 211);
}

.dl-parameters dd {
  color: black;
  background-color: #F0F4FF;
  margin-inline-start: 0px;
}
